<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5" class="form-outline">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5"></p>
  
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-outline form-white mb-4">
                    <label for="userId" id="icon" for="name"></label>
                    <input
                      type="text"
                      id="name"
                      class="form-control form-control-lg"
                      formControlName="userId"
                      placeholder="User Id"
                    />
                    <label class="form-label" for="userId">Registration Id</label>
                    <div *ngIf="submitted &&loginForm.controls['userId'].errors" class="error">
                      <div class="text-danger"  *ngIf="loginForm.controls['userId'].errors['required']">
                          User Id is required
                      </div>
                  </div>
                    </div>
  
                  <div class="form-outline form-white mb-4">
                    <input
                      type="text"
                      id="userName"
                      class="form-control form-control-lg"
                      formControlName="userName"
                      placeholder="User Name"
                      ng-model="userName"
                    />
                    <label class="form-label" for="userName">User Name</label>
                    <div *ngIf="submitted &&loginForm.controls['userName'].errors" class="error">
                      <div class="text-danger"  *ngIf="loginForm.controls['userName'].errors['required']">
                          User Name is required
                      </div>
                  </div>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <input
                      type="password"
                      id="userPass"
                      class="form-control form-control-lg"
                      formControlName="userPass"
                      placeholder="Password"
                    />
                    <label class="form-label" for="userPass">Password</label>
                    <div *ngIf="submitted &&loginForm.controls['userPass'].errors" class="error">
                      <div class="text-danger"  *ngIf="loginForm.controls['userPass'].errors['required']">
                          Password is required
                      </div>
                  </div>
                  </div>
  
                  <p class="button" class="small mb-5 pb-lg-2">
                    <a class="text-white-50" href="#!">Forgot password?</a>
                  </p>
  
                  <button
                    class="button"
                    class="btn btn-outline-light btn-lg px-5"
                    type="submit"
                  >
                    Login
                  </button>
  
                  <div class="sign-up">
                    <p class="mb-0">
                      Don't have an account?
                      <a
                        href="#!"
                        routerLink="/register-customer"
                        routerLinkActive="active"
                        class="text-white-50 fw-bold"
                        >Sign Up</a
                      >
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  







 